{% extends 'blog/base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <h2>Hey there my name is Sumit Redekar currently pursuing my Bachelor's Degree in IT &#128526;	</h2>
    <h3>This project is part of my bootcamp course 🚀 </h3>
    <h4>Thankyou!! &#128548; </h4>
    <h4>My Instagram </h4>
    <h4>&#128071;</h4>
    <h5><a href="https://www.instagram.com/summittttttt/" class="fa fa-instagram"></a></h5>

</div>
{% endblock %}